doctype html
html(lang="en")
	head
		title= "Real time web chat"
		script(src='/crypto-js/core.js')
		script(src='/socket.io/socket.io.js')
		script(src='/crypto-js/enc-base64.js')
		script(src='/crypto-js/enc-utf8.js')
		script(src='/crypto-js/md5.js')
		script(src='/crypto-js/evpkdf.js')
		script(src='/crypto-js/cipher-core.js')
		script(src='/crypto-js/aes.js')
		script(src='/chat.js')
	body
	#doc(style='text-align:left;')
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block;')
		#userList(style='width: 120px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block;')
	.controls
		input.field(id='field', style='width:350px;')
		input.send(type='button', id='send', value='send')
		br
		input.field(id='password', style='width:350px;')